@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
    font-family: 'Albert Sans', sans-serif;
}

header {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding-bottom: 0.625rem;
}

header.sticky {
    background-color: #fff;
    z-index: 999;
    top: 0%;
    position: fixed;
    box-shadow: 2px 2px 10px #f9f9f9;
}

.logo img {
    width: 3.75rem;
    height: 3.75rem;
}

.logo {
    color: #002766 !important;
    font-size: 1.875rem;
    display: inline-block;
    font-weight: 700;
    text-decoration: none !important;
    /* padding-top: 10px; */
}

.form-control {
    border-radius: 1.125rem !important;
    /* width: 20.625rem !important; */
}

.btn {
    border-radius: 1.563rem !important;
    width: 9.938rem;
    height: 3.183rem;
    background-color: orangered !important;
    border: 0.063rem solid orangered !important;
}

.nav-item a {
    color: #535c68;
    font-size: 18px;
}

.nav-item a:hover {
    color: #fb5607;
    transition-duration: 0.9s;
    font-weight: 300;
}

.dropdown {
    position: relative;
}

.dropdown-list {
    position: absolute;
    display: none !important;
    left: 0;
    background-color: #f9f9f9;
    border: 1px solid black;
}

.dropdown-list li {
    padding: 5px 20px;
}

.dropdown:hover .dropdown-list {
    display: block !important;
}

.dropdown a {
    font-size: 18px;
    color: #535c68;
}

#banner {
    width: 100%;
    height: auto;
    margin-top: 6.25rem;
}

.ban-text h1 {
    font-weight: 800 !important;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
}

.btn-1 {
    width: 12.5rem;
    height: 3.125rem;
    border-radius: 1.563rem;
    background-color: #fb5607;
    border: #fb5607;
    color: #fff;
    transition-duration: 0.4s;
}

.btn-2 {
    width: 12.5rem;
    height: 3.125rem;
    border-radius: 1.563rem;
    background-color: #fff;
    border: 0.063rem solid #30336b;
    color: #30336b;
    font-weight: 600;
    transition-duration: 0.9s;
    margin-top: 6.25rem;
}

.btn-2:hover {
    background-color: #30336b;
    color: #fff;
}

.ban-img {
    margin-top: 4.375rem;
}

.ban-img img {
    width: 100%;
    height: 100%;
}

#service {
    width: 100%;
    height: auto;
    margin-top: 6.25rem;
    background-color: #f9f9f9;
}

.ser-text {
    text-align: center;
    padding-top: 6.25rem;
    padding-bottom: 4.375rem;
}

.ser-text h1 {
    font-weight: 800;
}

.box1 {
    height: auto;
    background-color: #fff;
    padding-top: 3.125rem;
    text-align: center;
    margin-bottom: 80px;
}

.box1 i {
    color: #fff;
    background-color: #0166ff;
    font-size: 26px;
    width: 60px;
    height: 60px;
    padding-top: 17px;
    border-radius: 4px;
}

.box1 h4 {
    padding-left: 1.25rem;
    font-size: 1.563rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.box1 p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.125rem;
    padding-bottom: 2.5rem;
}

.box1 h4:hover {
    color: #fb5607;
}

.box2 {
    height: auto;
    background-color: #fff;
    padding-top: 3.125rem;
    text-align: center;
    margin-bottom: 80px;
}

.box2 i {
    color: #54b963;
    color: #fff;
    background-color: #ff01aa;
    font-size: 26px;
    width: 60px;
    height: 60px;
    padding-top: 17px;
    border-radius: 4px;
}

.box2 h4 {
    padding-left: 1.25rem;
    font-size: 1.563rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.box2 p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.125rem;
    padding-bottom: 2.5rem;
}

.box2 h4:hover {
    color: #fb5607;
}

.box3 {
    height: auto;
    background-color: #fff;
    padding-top: 3.125rem;
    text-align: center;
    margin-bottom: 80px;
}

.box3 i {
    color: #fff;
    background-color: #ffd501;
    font-size: 26px;
    width: 60px;
    height: 60px;
    padding-top: 17px;
    border-radius: 4px;
}

.box3 h4 {
    padding-left: 1.25rem;
    font-size: 1.563rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

.box3 p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.125rem;
    padding-bottom: 2.5rem;
}

.box3 h4:hover {
    color: #fb5607;
}

#blog {
    width: 100%;
    height: auto;
    margin-top: 5rem;

}

.blog-img img {
    width: 100%;
    height: 100%;
}

.blog-text {
    padding-top: 3.75rem;
}

.blog-text h5 {
    font-weight: 500;
}

.blog-text h2 {
    font-size: 40px;
    font-weight: 700;
}

.blog-text p {
    line-height: 2;
    padding-top: 0.625rem;
    font-size: 18px;
}

.btm-text h4 {
    font-weight: 700;
}

.btm-text h4:hover {
    color: #fb5607;
}

.btm-text {
    padding-top: 1.25rem;
}

#property {
    width: 100;
    height: auto;
    background-color: #f9f9f9;
    margin-top: 5.313rem;
}

.property-box {
    text-align: center;
    padding-top: 6.25rem;
}

.property-box h1 {
    font-weight: 700;
    font-size: 2.813rem;
}

.service-box {
    height: auto;
    padding-bottom: 0.625rem;
    width: 100%;
    padding-top: 3.125rem;
}

.service-box img {
    width: 100%;
    height: 100%;
    /* border-radius: 8px; */
}

.offer {
    width: 100%;
    height: 15.625rem;
}

.service-box2 {
    height: 15.625rem;
    padding-left: 1.75rem;
    margin-bottom: 100px;
    background-color: #fff;
    box-shadow: 2px 2px 10px #f9f9f9;
}

.service-box2 h4 {
    padding-top: 20px;
}

.service-box2 h4:hover {
    color: #fb5607;
}

.service-box2 i {
    color: #fb5607;
    font-size: 1.563rem;
    padding-top: 20px;
}

.service-box2 a {
    color: #535c68;
    font-size: 1.125rem;
}

.number {
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 1px solid black;
}

.number-box h1 {
    font-weight: 800;
}

#about {
    width: 100%;
    height: auto;
    margin-top: 80px;
}

.about-text h2 {
    font-weight: 800;
}

.about-text p {
    line-height: 1.9;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 500;
}

.about-img img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    padding-top: 10px;
}

.about-img h4 {
    font-weight: 700;
    padding-bottom: 20px;
}

.flat-img img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.flat-img h6 {
    padding-top: 10px;
}

.about-img h6 {
    padding-top: 10px;
}

.flat {
    padding-top: 85px;
}

.flat-img2 {
    padding-top: 32px;
}

.flat-img2 img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.flat-img2 h6 {
    padding-top: 18px;
}

.flat-img2 h4 {
    font-weight: 700;
    padding-bottom: 16px;
}

#update {
    width: 100%;
    height: auto;
    background-color: #f9f9f9;
    margin-top: 100px;
}

.update-text {
    text-align: center;
}

.update-text h5 {
    padding-top: 100px;
}

.update-text h1 {
    font-weight: 800;
}

.update-box {
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-bottom: 60px;
    margin-top: 60px;
}

.icon-section {
    padding-left: 36px;
    padding-top: 56px;
}

.icon-section i {
    color: blue;
    font-weight: 900;
    width: 60px;
    height: 60px;
    background-color: #f9f9f9;
    font-size: 40px;
    padding-left: 9px;
    padding-top: 9px;
    border-radius: 40px;
}

.icon2-section {
    padding-left: 36px;
    padding-top: 56px;
}

.icon2-section i {
    color: rgb(255, 38, 0);
    font-weight: 900;
    width: 60px;
    height: 60px;
    background-color: #f9f9f9;
    font-size: 40px;
    padding-left: 9px;
    padding-top: 9px;
    border-radius: 40px;
}

.icon3-section {
    padding-left: 36px;
    padding-top: 56px;
}

.icon3-section i {
    color: #54b963;
    font-weight: 900;
    width: 60px;
    height: 60px;
    background-color: #f9f9f9;
    font-size: 40px;
    padding-left: 9px;
    padding-top: 9px;
    border-radius: 40px;
}

.para {
    padding-left: 8px;
}

.para h5 {
    padding-top: 40px;
    font-weight: 500;
}

.para h5:hover {
    color: #fb5607;
}

.para p {
    font-size: 18px;
    padding-bottom: 80px;
    padding-top: 18px;
}

#question {
    width: 100%;
    height: auto;
    margin-top: 100px;
}

.que-img img {
    width: 100%;
    height: 100%;
}

.que-text h5 {
    padding-top: 45px;
}

.que-text h1 {
    font-weight: 700;
}

.que-text p {
    font-size: 18px;
}

#developer {
    width: 100%;
    height: auto;
    background-color: #f9f9f9;
    margin-top: 70px;
}

.dev-img {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 80px;
}

.dev-img img {
    width: 100px;
    height: 100px;
}

.dev-img h4 {
    padding-top: 50px;
    padding-bottom: 30px;
}

.dev-img p {
    font-size: 18px;
}

footer {
    width: 100%;
    height: auto;
    background-color: #090826;
}

.footer-text h1 {
    color: #fff;
    padding-top: 100px;
}

.footer-text {
    color: #fff;
    padding-bottom: 80px;
}

.footer-btn {
    padding-top: 100px;
}

.ft-btn {
    width: 200px;
    height: 60px;
    background-color: #fb5607;
    color: #fff;
    font-size: 18px;
    border: 1px solid #fb5607;
    border-radius: 30px;
    font-weight: 500;
}

.footer-box {
    border-top: 1px solid rgba(108, 122, 135, 0.276);
}

.footer-link {
    padding-top: 100px;
    padding-bottom: 80px;
}

.footer-link h4 {
    color: #fff;
}

.footer-link li a {
    color: #fff;
    line-height: 2;
    font-size: 20px;
}

.footer-link li a:hover {
    color: red;
}

.icon-section2 i {
    font-size: 25px;
    color: #fb5607;
    padding: 10px;
    padding-top: 18px;
    /* background-color: #fff; */
}

.footer-link p {
    padding-top: 10px;
}

.email {
    width: 300px;
    height: 50px;
    background-color: #fff;
    color: #535c68;
    border: 1px solid #fff;
    border-radius: 5px;
    padding-left: 10px;
}

.footer-link a i {
    font-size: 30px;
    color: #fb5607;
    /* padding-left: 35px; */
}

.footer-link p {
    color: #ecf0f1;
}

.last-para p {
    text-align: center;
}

.last-para p a {
    color: #e55039;
    font-size: 20px;
}

.last-para {
    border-top: 1px solid rgba(108, 122, 135, 0.276);
    padding-top: 30px;
    padding-bottom: 40px;
}

.flat-img h4:hover {
    color: #fb5607;
}

.flat-img2 h4:hover {
    color: #fb5607;
}

.last-para p {
    color: #ecf0f1;
    font-size: 20px;
}

.card-header a {
    color: #090826;
    font-size: 22px;
}

.card-body {
    color: #535c68;
}

.last-para a:hover {
    color: blueviolet;
    transition-duration: 0.9s;
}
#developer .owl-carousel .owl-item img {
    display: initial !important;
    width: 100px !important;
    height: 100px !important;
    }